<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Авторизацiя</title>
</head>
<body>
    <div class="reg-auth-box">
        <form method="post">
            {% csrf_token %}
            <center>
            <h1>Увійдіть</h1>
            <p class="error-text" style="color: rgb(255, 0, 0);" >{{error_text}}</p>
            <input type="text" placeholder="Логін" name="username" required>
            <input type="password" placeholder="Пароль" name="password" required>
            <input class="reg-auth-but" type="submit" value="Вхід">
            <p>Ще не зареєстровані? <a href="{% url 'registration' %}"> Зареєструйтесь</a></p>
            </center>
        </form>
    </div>
</body>
</html>